<p style="text-align: center; background-color: inherit;">
  <a href="{{site.baseurl}}/" style="color: white; font-weight: bold;">Home</a> |
  <a href="{{site.baseurl}}/contact_issue_reporting" style="color: white; font-weight: bold;">Contact About Issues</a> | 
  <a href="{{site.baseurl}}/demo" style="color: white; font-weight: bold;">Demo</a> | 
  <a href="{{site.baseurl}}/install" style="color: white; font-weight: bold;">Installation</a> | 
  <a href="{{site.baseurl}}/licensing/" style="color: white; font-weight: bold;">Licensing</a>
</p>
