<p style="text-align: center; background-color: inherit;">
  <a href="{{site.baseurl}}/" style="color: white !important">Home</a> |
  <a href="{{site.baseurl}}/about" style="color: white">About</a> | 
  <a href="{{site.baseurl}}/contact_issue_reporting" style="text-color: white">Issue Contact</a> | 
  <a href="{{site.baseurl}}/demo" style="text-color: white !important">Demo</a> | 
  <a href="{{site.baseurl}}/install">Installation</a> | 
  <a href="{{site.baseurl}}/licensing/">Licensing</a>
</p>
